
.main-div{
    display: flex;
}
.leftside{
    max-width: 40%;
   
    padding: 10px;
}
.imgdiv{
    border: 1px solid blue;

}
.RightSide{
    max-width: 100%;
  
    padding: 10px;
   
}
.inputBox{
    margin: 10px;
    padding: 4px;
    border: 1px solid blue;
    
    border-radius: none;
}